{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-light p-5 form-layout">
    <h3> 
        Update Record 
    </h3>
    <h4> 
        Update The Record Below 
    </h4>
    <hr>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{update_form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary w-100 btn-block">
            Submit
        </button>
    </form>
</div>


{% endblock %}